<!--<h1>你有什么意见吗？！</h1>-->
<!--<img src="../../imgs/fuhei.jpg" alt="" width="400">-->
<div class="suggestion" ng-controller="suggestCtrl">
    <div class="search">
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-12">
                        <div class="col-lg-12">
                            <div class="col-md-6 col-xs-12 search-items">
                                <div class="col-md-4 col-xs-3 search-item">意见ID：</div>
                                <div class="col-md-8 col-xs-9">
                                    <input type="text" class="form-control" ng-model="serialId">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 search-items">
                                <div class="col-md-4 col-xs-3 search-item">关键词：</div>
                                <div class="col-md-8 col-xs-9">
                                    <input type="text" class="form-control" ng-model="keyWord">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-md-6 col-xs-12 search-items">
                                <div class="col-md-4 col-xs-3 search-item">提交人：</div>
                                <div class="col-md-8 col-xs-9">
                                    <input type="text" class="form-control" ng-model="commitBy">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 search-items">
                                <div class="col-md-4 col-xs-3 search-item">手机号：</div>
                                <div class="col-md-8 col-xs-9">
                                    <input type="text" class="form-control" ng-model="phoneNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <div class="col-lg-12 col-xs-6 search-btn"><button class="btn btn-default">重置</button></div>
                        <div class="col-lg-12 col-xs-6 search-btn"><button class="btn btn-primary" type="submit" ng-click="search()">查询</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="primary-list">
        <div class="list-title">
            <span class="list-title-text">意见列表</span>
            <!--<button class="btn btn-default pull-right">新增</button>-->
        </div>
        <table class="table table-hover">
            <thead>
            <th>序号</th>
            <th>意见ID</th>
            <th>意见内容</th>
            <th>提交人</th>
            <th>手机号</th>
            <th>提交时间</th>
            <th>回复人</th>
            <th>回复时间</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr ng-repeat="x in opinionList">
                <td>{{$index + 1}}</td>
                <td>OP000{{$index + 1}}</td>
                <td>{{x.content}}</td>
                <td>{{x.commitBy}}</td>
                <td>{{x.phoneNumber}}</td>
                <td>
                    <div>{{x.commitAt | date: 'yyyy-MM-dd'}}</div>
                    <div>{{x.commitAt | date: 'HH:mm:ss'}}</div>
                </td>
                <td>{{x.replyBy}}</td>
                <td>
                    <div>{{x.replyAt | date: 'yyyy-MM-dd'}}</div>
                    <div>{{x.replyAt | date: 'HH:mm:ss'}}</div>
                </td>
                <td>
                    <button class="btn btn-default replyBtn" ng-disabled='{{x.disabled}}' ng-click="reply()">回复</button>
                    <button class="btn btn-primary viewBtn" ng-click="view()">查看</button>
                    <button class="btn btn-danger" ng-click="delete()">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
