<div class="suggestReply" ng-controller="suggestReplyCtrl">
    <div class="primary-list margin-0">
        <div class="list-title">
            <span class="list-title-text">意见回复</span>
            <button class="btn btn-default pull-right" onclick="history.back(-1)">返回</button>
        </div>
        <div class="opinion">
            <div class="subTitle lineHeight-34">
                <p>意见内容：</p>
            </div>
            <div class="container lineHeight-34">
                <div class="row margin-0">
                    <div class="col-xs-2 col-lg-1 padding-0">
                        <p>意见ID：</p>
                    </div>
                    <div class="col-xs-9 padding-0">
                        <p>There is suggesttion ID.</p>
                    </div>
                </div>
                <div class="row margin-0">
                    <div class="col-xs-2 col-lg-1 padding-0">
                        <p>提交人:</p>
                    </div>
                    <div class="col-xs-9 padding-0">
                        <p>Nima Wang.</p>
                    </div>
                </div>
                <div class="row margin-0">
                    <div class="col-xs-2 col-lg-1 padding-0">
                        <p>提交时间：</p>
                    </div>
                    <div class="col-xs-9 padding-0">
                        <p>8012年4月10日 90:32</p>
                    </div>
                </div>
                <div class="row margin-0">
                    <div class="col-xs-2 col-lg-1 padding-0">
                        <p>意见内容：</p>
                    </div>
                    <div class="col-xs-9 padding-0">
                        <p>There is content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reply">
            <div class="subTitl lineHeight-34">
                <p>回复内容:</p>
            </div>
            <div class="container">
                <div class="row margin-0">
                    <div class="col-xs-12 padding-0">
                        <textarea name="reply" class="form-control" placeholder="请详细描述您要回复的内容。（限制字数100字以内）" maxlength="100"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="btn btn-primary">保存</button>
            <button class="btn btn-default">取消</button>
        </div>
    </div>
</div>