<div class="bg introTxt" ng-controller="introCtrl">
    <div>
        <i class="fa fa-book pull-left fa-lg "></i>
        产品简介:{{name}}
    </div>
    <div>
        <i class="fa fa-money pull-left fa-lg "></i>
        收益规则:本产品起投金额为{{minAmount}}，最小增减金额为{{minIncrement}}元。仅支持本金续投，投资期限内不可提前退出，
        理财周期每个月以30天为准
    </div>
    <div>
        <i class="fa fa-tasks  pull-left fa-lg "></i>
        保障方式：聚金融承接债权，本息担保。
    </div>
    <div>
        <i class="fa fa-credit-card  pull-left fa-lg "></i>
        还款方式：先息后本。
    </div>
    <div>
        <i class="fa fa-calendar-check-o  pull-left fa-lg "></i>
        还款日期：每月还息固定每月20号，理财到期后返还本金。T(到期日)+1日(如遇周末及节假日，到期日顺延至周末及节假日后的第一个交易日)。
    </div>


</div>
