<div  ng-controller="seeUserCtrl">
    <div class="primary-list">
        <div class="list-title" >
            <span class="list-title-text">用户详情</span>
        </div>
        <table class="table table-hover">
            <thead>
            <th>序号</th>
            <th>用户ID</th>
            <th>手机号</th>
            <th>真实姓名</th>
            <th>身份证号码</th>
            <th>总资产</th>
            <th>累计收益</th>
            <th>注册时间</th>
            <th>状态</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr ng-repeat = "x in userList">
                <td>{{$index + 1}}</td>
                <td>{{x.serialId}}</td>
                <td>{{x.phoneNumber}}</td>
                <td>{{x.realName}}</td>
                <td>{{x.idCard}}</td>
                <td>{{x.balance}}</td>
                <td>{{x.profit}}</td>
                <td>{{x.createdAt | date: 'yyyy-MM-dd'}}</td>
                <td>{{x.lock}}</td>
                <td>
                    <button class="btn btn-default">冻结</button>
                    <!--{{x.status | line}}-->
                    <button class="btn btn-primary" ng-click = "seeUser()">查看</button>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>