
.financeRow{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 50px 10px 15px;
}

.productName{
    font-size: 1.2em;
    padding: 8px 0;
}
.proProfit{
    color: #d7a85e;
    font-size: 2em;
}
.financeTip,.investmentCycle{
  color: #999;
}


/*-----------------------------------*/


.proContent{
    text-align: center;
    margin-top: 10px;
}
.proRow{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 15px 10px 15px;
}
.buyNow{
    position:fixed;
    margin:0 auto;
    bottom: 0;
    left:0;
    right:0;
    max-width: 768px;
    font-size: 1.5em;
    background-color: #d7a85e;
    color: #fff;
    text-align: center;
    padding: 10px 0 10px 0;
}
.buyInput{
    width: 100%;
}
.confirm{
    display: block;
    width: 100%;
    line-height:40px;
    margin: 30px auto 50px;
    background: #d7a85e;
    color: #fff;
    border-radius: 5px;

}
.introTxt{
    color:#d7a85e ;
}
