
<!--<div class="loginContent"  ng-controller="forgetCtrl">-->
    <!--<div class="head" >-->
        <!--<i class="fa fa-chevron-left pull-left fa-lg "></i>-->
        <!--找回密码-->
    <!--</div>-->


    <!--<form class="bg" >-->

        <!--<img src="../imgs/logo.png"  class="logo" height="257" width="253"/>-->

<div ng-controller="forSetCtrl">

    <div class="shade" ng-show="show" >
        <div class="shadeTip">
            <div>修改密码成功！</div><div>3S后将自动跳转至登录页</div>
        </div>
    </div>

        <div class="user">
            <img src="../imgs/14.png" height="18.5" width="14"/>
            <input   type="password" ng-model="firstPassword" class="bor" placeholder="请设置-18位数字和字母组成的新密码"/>
        </div>
        <div class="user">
            <img src="../imgs/61.png" height="18.5" width="14"/>
            <input  type="password" ng-model="secondPassword" class="bor" placeholder="请确认-18位数字和字母组成的新密码" />
            <!--<input type="{{type ? 'text' : 'password'}}" ng-model="password" />-->
            <!--<input type="checkbox" ng-model="type" />-->
        </div>
        <p class="warn"   ng-bind='warn'></p>

        <button  type="button" class="login"  ng-click="forSetBtn()">确认</button>
</div>

    <!--</form>-->

<!--</div>-->






