
<div class="loginContent" ng-controller="homeCtrl" >
    <div ui-view></div>

    <footer class="footList">
        <nav>
        <ul class="nav_tab_head">

            <li class="home" ng-click="homeDetail()">
                <a>
                    <div class="icon">
                    </div>
                    <span>首页</span>
                </a>
            </li>

            <!--<li class="financing"  ui-sref="homePage.financial"  >-->
            <li class="financing" ng-click="financial()"  >
                <a>
                    <div class="icon">

                    </div>
                    <span>理财</span>
                </a>
            </li>

            <li class="my">
                <a>
                    <div class="icon">
                    </div>
                    <span>我的</span>
                </a>
            </li>



        </ul>
        <div class="wallpaper-ctrl">
            <a href="###" class="wallpaperImg pre" id="wp-ctrl-pre" title="点击切换背景图片" cmd="clickWPPre"> </a>
            <a href="###" class="wallpaperImg next" id="wp-ctrl-next" title="点击切换背景图片" cmd="clickWPNext"> </a>
        </div>

    </nav>

    </footer>
</div>
