<!--<h1>您有什么消息要告诉我吗？</h1>-->
<!--<img src="../../imgs/chuhai.jpg" alt="" width="400">-->
<div class="news" ng-controller="newsCtrl">
    <div class="search">
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-12">
                        <div class="col-lg-12">
                            <div class="col-md-6 col-xs-12 search-items">
                                <div class="col-md-4 col-xs-3 search-item">关键词：</div>
                                <div class="col-md-8 col-xs-9"><input type="text" class="form-control"></div>
                            </div>
                            <div class="col-md-6 col-xs-12 search-items">
                                <div class="col-md-4 col-xs-3 search-item">消息状态：</div>
                                <div class="col-md-6 col-xs-9">
                                    <select ng-model="type" class="select form-control" id="selectType">
                                        <option ng-repeat="x in reType" value="{{x.value}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-md-6 col-xs-12 search-items">
                                <div class="col-md-4 col-xs-3 search-item">创建人：</div>
                                <div class="col-md-8 col-xs-9"><input type="text" class="form-control"></div>
                            </div>
                            <div class="col-md-6 col-xs-12 search-items">
                                <div class="col-md-4 col-xs-3 search-item">发送时间：</div>
                                <div class="col-md-4 col-xs-4">
                                    <input type="text"
                                           id="createAt"
                                           class="form-control"
                                           value="" ng-click="openStart()"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="startDate"
                                           is-open="popupStart.opened"
                                           show-button-bar="false"
                                           alt-input-formats="inputFormats"
                                           datepicker-options="{maxDate:maxDay,showWeeks:false}"/>
                                </div>
                                <div class="col-xs-1 wave">~</div>
                                <div class="col-md-4 col-xs-4">
                                    <input type="text"
                                           class="form-control"
                                           value="" ng-click="openEnd()"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="endDate"
                                           is-open="popupEnd.opened"
                                           show-button-bar="false"
                                           alt-input-formats="inputFormats"
                                           datepicker-options="{minDate:startDate,maxDate:today,showWeeks:false}"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <div class="col-lg-12 col-xs-6 search-btn"><button class="btn btn-default" type="reset">重置</button></div>
                        <div class="col-lg-12 col-xs-6 search-btn"><button class="btn btn-primary" type="submit">查询</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="primary-list">
        <div class="list-title">
            <span class="list-title-text">消息列表</span>
            <button class="btn btn-default pull-right" ui-sref="home.newNews">新增</button>
        </div>
        <table class="table table-hover">
            <thead>
            <th>序号</th>
            <th>消息标题</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>更新人</th>
            <th>更新时间</th>
            <th>消息状态</th>
            <th>发送时间</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr>
                <td>{{$index + 1}}</td>
                <td>{{x.newsTitle}}</td>
                <td>{{x.creatAuthor}}</td>
                <td>{{x.creatAt | date: 'yyyy-MM-dd'}}</td>
                <td>{{x.updateAuthor}}</td>
                <td>{{x.updateAt | date: 'yyyy-MM-dd'}}</td>
                <td>{{x.status}}</td>
                <td>{{x.sendAt | date: 'yyyy-MM-dd'}}</td>
                <td>
                    <button class="btn btn-success" ui-sref="home.newsDetail">查看</button>
                    <button class="btn btn-primary">编辑</button>
                    <button class="btn btn-default">取消</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
